<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="primary-layout.css">
    <title>foo revoo</title>
</head>


<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="./all-reviews?page=1" class="navbar-brand mr-2">
                <h1 class="navbar-title">foo revoo</h1>
            </a>
        </section>
        <!-- SHOW LIST ICON ON SM -> OPEN MODAL, WITH LOGIN AND MENU -->

    </header>

    <div class="container">
        <div class="columns">
            <div class="column col-3 col-md-12 sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="./all-reviews?page=1">All Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a href="./about">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="./contact">Contact</a>
                    </li>
                </ul>

                <div class="accordion sidebar-dropdown">
                    <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
                    <label class="accordion-header" for="accordion-1">
                        <i class="icon icon-arrow-right mr-1"></i>
                        Admin Tools
                    </label>
                    <div class="accordion-body">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="./login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="./add-reviews">Add Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a href="./update-reviews">Update Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a href="./delete-reviews">Delete Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a href="./register-admin">Register Admin</a>
                            </li>
                            <li class="nav-item">
                                <a href="./update-admins">Update Admins</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="column col-md-12 col-9 container main">
                {{{body}}}
            </div>

        </div>
    </div>
</body>

</html>