<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="https://foo-revoo.herokuapp.com/primary-layout.css">
    <title>foo revoo</title>
</head>


<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="https://foo-revoo.herokuapp.com/all-reviews?page=1" class="navbar-brand mr-2">
                <h1 class="navbar-title">foo revoo</h1>
            </a>
        </section>
    </header>

    <div class="container">
        <div class="columns">
            <div class="column col-3 col-md-12 sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="https://foo-revoo.herokuapp.com/all-reviews?page=1">All Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://foo-revoo.herokuapp.com/search-reviews">Search for reviews</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://foo-revoo.herokuapp.com/faqs">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://foo-revoo.herokuapp.com/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://foo-revoo.herokuapp.com/contact">Contact</a>
                    </li>
                </ul>

                <div class="accordion sidebar-dropdown">
                    <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
                    <label class="accordion-header" for="accordion-1">
                        <i class="icon icon-arrow-right mr-1"></i>
                        Admin Tools
                    </label>
                    <div class="accordion-body">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="https://foo-revoo.herokuapp.com/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://foo-revoo.herokuapp.com/add-reviews">Add Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://foo-revoo.herokuapp.com/update-reviews">Update Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://foo-revoo.herokuapp.com/delete-reviews">Delete Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://foo-revoo.herokuapp.com/add-cities">Add Cities</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://foo-revoo.herokuapp.com/update-cities">Update Cities</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://foo-revoo.herokuapp.com/delete-cities">Delete Cities</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://foo-revoo.herokuapp.com/add-faqs">Add FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://foo-revoo.herokuapp.com/update-faqs">Update FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://foo-revoo.herokuapp.com/delete-faqs">Delete FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="column col-md-12 col-9 container main">
                {{{body}}}
            </div>

        </div>
    </div>
</body>

</html>