<h1 class="column col-12">about me.</h1>
<h3 class="column col-12">Hello there!</h3>
<p class="column col-12" style="max-width: 700px">My name is Mikael and this blog is about food reviews on restaurants, mainly residing in Jönköping Sweden. However this blog will also explore other restaurants outside of Jönköping as I travel various cities and countries around the world. Follow me along for the journey every Tuesday and Friday for a new review!</p>
