<form class="form-group" method="post" action="/submit-review">
    <label class="form-label">Name</label>
    <input class="form-input" type="text" name="Name" placeholder="Name" pattern="[A-Za-z0-9.\s!%&/?]{2,}" required="required">

    <label class="form-label" name="Score">Score: Enter with value from 0-10</label required="required">
    <select name="Score" class="form-select select-sm">
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>

    <label class="form-label" name="Review">Review</label>
    <input class="form-input" type="text" name="Review" placeholder="Review" required="required">

    <label class="form-label" name="Location">Location</label>
    <input class="form-input" type="text" name="Location" placeholder="Location" required="required">

    <label class="form-label" name="ImageLink">ImageLink</label>
    <input class="form-input" type="text" name="ImageLink" placeholder="ImageLink">

    <input type="submit" class="btn btn-primary col-12" style="margin-top: 10px">
</form>

<input class="form-input" type="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
<input class="form-input" type="password" placeholder="Password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$">