<form class="form-group columns" method="post" action="add-reviews" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <label class="form-label">Name: </label>
    <input class="form-input" type="text" name="name" placeholder="Name (Use ATLEAST two letters)" pattern="[A-Za-z0-9öäåÖÄÅ.\s!%&/?]{2,}" required="required">

    <label for="score" class="form-label">Score: </label required="required">
    <select name="score" class="form-select select-sm">
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>

    <label for="review" class="form-label">Review: </label>
    <input class="form-input" type="text" name="review" placeholder="Review" required="required">

    <label for="cityId" class="form-label">City: </label>
    <select name="cityId" class="form-select select-sm">
        {{#each allCities}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>


    <label for="address" class="form-label">Address: </label>
    <input class="form-input" type="text" name="address" placeholder="Address (Use ATLEAST two letters)" pattern="[A-Za-z0-9öäåÖÄÅ.\s!%&/?]{2,}" required="required">

    <label for="imageLink" class="form-label">ImageLink: </label>
    <input class="form-input" type="file" name="restaurantImage" accept="image/png, image/jpeg">
    <input type="submit" class="btn btn-primary col-12" style="margin-top: 10px" value="Add Review">
</form>