<form class="form-group columns" method="post" action="/add-review">
    <label class="form-label">Name</label>
    <input class="form-input" type="text" name="Name" placeholder="Name" pattern="[A-Za-z0-9öäåÖÄÅ.\s!%&/?]{2,}" required="required">

    <label class="form-label">Score</label required="required">
    <select name="Score" class="form-select select-sm">
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>

    <label class="form-label">Review</label>
    <input class="form-input" type="text" name="Review" placeholder="Review" required="required">

    <label class="form-label">City</label>
    <input class="form-input" type="text" name="City" placeholder="City" pattern="[A-Za-z0-9öäåÖÄÅ.\s!%&/?]{2,}" required="required">

    <label class="form-label">Address</label>
    <input class="form-input" type="text" name="Address" placeholder="Address" pattern="[A-Za-z0-9öäåÖÄÅ.\s!%&/?]{2,}" required="required">

    <label class="form-label">ImageLink</label>
    <input class="form-input" type="text" name="ImageLink" placeholder="ImageLink">

    <input type="submit" class="btn btn-primary col-12" style="margin-top: 10px" value="Add Review">
</form>