<h1 class="column col-12">contact me!</h1>
<h6 class="column col-12">Mailbox : <span style="color: blue;">Barnarpsgatan 59, 553 33 Jönköping</span></h6>
<h6 class="column col-6">Phone Number : <span style="color: blue">079 563 4322</span></h6>
<h6 class="column col-6">Email : <span style="color: blue;">foo-revoo@gmail.com</span></h6>