<h2>Login as Admin!</h2>
<form class="input-group input-inline navbar-login" method="post" action="login">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input class="form-input" type="email" placeholder="Email" required="required" name="email"
        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,14}$">
    <input class="form-input" type="password" placeholder="Password" required="required" name="password"
        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{6,}">
    <input class="btn btn-primary input-group-btn" type="submit" value="Login">

</form>
<label class="text-error">
    <h5>{{errorMessage}}</h5>
</label>