html {
    font-size: 150%;
}

.navbar {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 10px 20px 0px 20px;
}

.navbar-title {
    font-size: 2rem;
}

.sidebar {
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 20px;
}

.sidebar-dropdown {
    padding-top: 15px;
}

.sidebar-login {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.main {
    padding: 15px;
}

.restaurant-image {
    border-radius: 8px;
    border: 1px solid rgb(204, 204, 204);
}

.restaurant-container {
    background-color: rgb(204, 204, 204);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.review-editor {
    background-color: rgb(204, 204, 204);
    padding: 10px 10px 0px 10px;
}



